<div class="container">

    <div class="row">
        <div class="col-6">
            <div class="form-row" id="formUsuario">
                <div class="col-3">
                    <input type="text" class="form-control" placeholder="nome" [(ngModel)]="usuarioAux.nome"/>
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" placeholder="email" [(ngModel)]="usuarioAux.email"/>
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" placeholder="telefone" [(ngModel)]="usuarioAux.telefone"/>
                </div>
                <button type="button" class="btn btn-success sm-2" (click)="submitUsuario(usuarioAux)">Salvar</button>
            </div>


            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Apagar</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let usuario of listUsuarios" [ngClass]="{'table-active': currentUsuarioId == usuario.id}" (click)="getHistoricoByUsuario(usuario.id)">
                    <th scope="row">{{usuario.id}}</th>
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.telefone}}</td>
                    <td>
                        <button type="button" class="btn btn-ligth btn-sm" (click)="showEditUsuario(usuario)">Editar</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" (click)="deleteUsuario(usuario)">Apagar</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-5">
            <div class="form-row" id="formHistorico">
                <div class="col-5">
                    <input type="text" class="form-control" placeholder="Ação" [(ngModel)]="historicoAux.action"/>
                </div>
                <div class="col-5">
                    <input type="text" class="form-control" placeholder="Data" [(ngModel)]="historicoAux.dataAction"/>
                </div>
                <button type="button" class="btn btn-success sm-2" (click)="addHistorico(historicoAux)">Salvar</button>
            </div>


            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Ação</th>
                    <th scope="col">Data</th>
                    <th scope="col">#</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let historico of listHistorico">
                    <th scope="row">{{historico.id}}</th>
                    <td>{{historico.action }}</td>
                    <td>{{historico.dataAction }}</td>
                    <td>
                        <button type="button" class="btn btn-ligth btn-sm" (click)="deleteHistorico(historico)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>